<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Insert title here</title>
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <script src="webjars/jquery/3.4.0/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">SSM</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">Introduction to SSM</h1>
                <p class="lead">SSM consists of three frameworks: Spring, SpringMVC, and MyBatis. As a Bean container, Spring is a lightweight Control Inversion (IOC) and Aspect Oriented (AOP) container framework. SpringMVC separates the roles of controllers, model objects, dispatchers, and handler objects. MyBatis uses simple XML or annotations for configuration and raw mapping, mapping interfaces and Java POJOs to records in the database.</p>
                <p class="lead">
                    <a href="/" class="btn btn-lg btn-default">Learn more</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="/">Bootstrap</a>, by <a href="">@starFall</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>